*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #5ea8fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
header img{
    height: 150px;
    width: 150px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu>li{
    font-size: 18px;
    font-weight: 500;
}
.menu li a {
    text-decoration: none;
    color:black;
    font-weight: 600;
}
.menu li a:hover{
    color: white;
    transition: 0.2s;
}